# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#yml
# .github/workflows/deploy.yml

#deployment files
dist/
build/

# Environment Variables & Keys
.env
.env.local
.env.production
.env

# Logs
npm-debug.log*
yarn-debug.log*
